body {
    background-color: salmon;
    
}

h1{
    text-align: center;
    padding-top: 30px;
    font-family: didot;
    color: white;
}

ol{
    font-family: didot;
}



#important{
    color: red;
}

.state-name{
    color: dark-grey;
    font-family: didot;
    margin: 3em 0;
}

p {
    color: black;
}

#background-element{
 background-color: rgb(250, 249, 246);
 font-family: gill sans;
 
 width: 70%;
 margin: auto;
 padding: 2em;
 
}

#introduction {
line-height: 25px;
background-color: rgb(255, 228, 220);
border-radius: 25px;
padding: 15px;
}

.titles{
font-family: didot;
color: black;


}

img {

border: solid 7px salmon;

}
.side-by-side{
display: flex;
gap: 2em;

}
.side-by-side p{
max-width: 60ch;
}